.grid {
    margin-left: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;

}

.quote{
    display: flex;
    justify-content: end;
}

.fav {
    background: none;
    border: none;
    color: red;
}

.pended {
    background: none;
    border: none;
    color: yellow;
}





